bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.idea/
SportsStore/wwwroot/lib/bootstrap/LICENSE
SportsStore/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.css
SportsStore/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.css.map
SportsStore/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.min.css
SportsStore/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.min.css.map
SportsStore/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.css
SportsStore/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.css.map
SportsStore/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.min.css
SportsStore/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.min.css.map
SportsStore/wwwroot/lib/bootstrap/dist/css/bootstrap.css
SportsStore/wwwroot/lib/bootstrap/dist/css/bootstrap.css.map
SportsStore/wwwroot/lib/bootstrap/dist/css/bootstrap.min.css
SportsStore/wwwroot/lib/bootstrap/dist/css/bootstrap.min.css.map
SportsStore/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.js
SportsStore/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.js.map
SportsStore/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.min.js
SportsStore/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.min.js.map
SportsStore/wwwroot/lib/bootstrap/dist/js/bootstrap.js
SportsStore/wwwroot/lib/bootstrap/dist/js/bootstrap.js.map
SportsStore/wwwroot/lib/bootstrap/dist/js/bootstrap.min.js
SportsStore/wwwroot/lib/bootstrap/dist/js/bootstrap.min.js.map
SportsStore/wwwroot/lib/jquery/LICENSE.txt
SportsStore/wwwroot/lib/jquery/dist/jquery.js
SportsStore/wwwroot/lib/jquery/dist/jquery.min.js
SportsStore/wwwroot/lib/jquery/dist/jquery.min.map
SportsStore/wwwroot/lib/jquery-validation/LICENSE.md
SportsStore/wwwroot/lib/jquery-validation/dist/additional-methods.js
SportsStore/wwwroot/lib/jquery-validation/dist/additional-methods.min.js
SportsStore/wwwroot/lib/jquery-validation/dist/jquery.validate.js
SportsStore/wwwroot/lib/jquery-validation/dist/jquery.validate.min.js
SportsStore/wwwroot/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js
SportsStore/wwwroot/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js
SportsStore/wwwroot/lib/jquery-validation-unobtrusive/LICENSE.txt
/SportsStore/wwwroot/lib/jquery
