# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.SportsStore.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\RiderProjects\SportsStore\.idea\.idea.SportsStore\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
